@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 48px;
    color: white;
}

h2 {
    font-size: 32px;
}

h3 {
    text-align: center;
}

.row {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.filters {
    display: flex;
    height: 150px;
}

.click {
    cursor: pointer;
}

/* Navigation */

nav {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: rgb(13, 196, 213);
    display: flex;
    justify-content: center;
}

.nav__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__presentation--input {
    position: relative; /* per poter usare absolute riferito a questo parent nel pulsante */
    text-align: center;
    width: 50%; /* input un pò accorciato da destra */
    margin-top: 20px;
}

#search_bar {
    border-radius: 9999px;
    height: 20px;
    border-width: 2px; /* spessore del contorno */
    width: 100%;
    font-weight: 500;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
}

.header__btn {
    position: absolute;
    right: 0; /* gli elementi absolute si posizionano dandogli un posto preciso dove mettersi, in questo caso con le distanze dai bordi dell'elemento */
    top: 0;
    bottom: 0;
    margin: 5px;
}

.btn {
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 10px 32px;
    font-size: 0.875rem;
    border-radius: 9999px; /* arrotonda i bordi */
    font-weight: 600;
    border: none; /* le altre proprietà border vengono cancellate da questa in quanto ultima. */
}

.form__submitter {
  background-color: black;
  margin: 5px;
}

.download {
    background-color: green;
    margin: 5px;
}

/* Nav extension */

.releasemonth {
    background-color: rgb(169, 69, 200);
    position: relative;
    width: 25%; /* ampiezza rispetto al contenitore esterno */
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

#myRange2 {
    position: absolute;
}

input[type="range"] {
    /* perchè webkit appearance è deprecated */
    appearance: none;
    width: 100%;
    border: 0;
    padding: 0;
    /* https://www.w3schools.com/css/css_outline.asp */
    outline: none;
    position: absolute;
    margin: auto;
    background-color: transparent;
    /* disattivato qui per rendere poi possibile afferrare solo le manopole di entrambi gli slider */
    pointer-events: none;
}

.slider__track,
.slider__track--2 {
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 5px;
}

.slider__track {
    background-color: #3264fe;
}

.slider__track--2 {
    background-color: #dadae5;
}

/* La manopola dello slider */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: blue;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #fff;
    border: 3px solid #3264fe;
}

.values, .value, .numeric_rating {
    background-color: #3264fe;
    width: 40%;
    position: relative;
    margin: auto;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.numeric_rating {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 0 30px;
}

.numeric_rating--inner {
    height: 50%;
    text-align: center;
    border-radius: 9999px;
}

.values {
    width: 90%;
}

.values::before, .value::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #3264fe;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

.input__container {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Genres */

.genres__container {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.genrescenter {
    display: flex;
    align-items: center;
    height: 100%;
}

.genres {
    width: 25%;
    height: 100%;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    height: 100%;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

/* Voglio fare un submit che prenda tutto insieme, lo vedrò alla fine */

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #e9e9e9;
}

.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important;
color: #ffffff;
}

/* Episodes */

.episodes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    background-color: yellow;
    padding: 10px;
    height: 100%;
}

.bottom__aligner {
    width: 100%;
}

/* Ratings */

.rating {
    position: relative;
    width: 25%;
    height: 100%;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.stars {
    width: 90%;
    display: flex;
}

.half__star--left,
.half__star--right {
    position: relative;
    height: 70px;
    width: 35px;
}

/* Absolute rispetto alla metà sinistra di half__star--left.
Pointer-events: none per poter cliccare entrambe le metà di stella. */
.star {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 200%;
}

/* struttura della proprietà border-top/left/right/bottom */
/* notare che sono bordi ma senza content */

.test {
    border-top: 15px solid #3264fe;
    border-left: 15px solid black;
    border-right: 15px solid red;
    border-bottom: 15px solid green;
    width: 0;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.background__container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.background__image {
    width: 100%;
    height: 100%;
}


/* form-submitter */

.form__submitter_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__submitter_wrapper--inner {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* chiamata API */

#animelist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime {
    width: 20%;
    height: 400px;
}

.anime {
    position: relative;
    background-color: blue;
}

.anime__poster {
    height: 100%;
    width: 100%;
}

.anime__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.anime__title--text {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 5px;
}